<div class="card">
  <div class="card-body card-padding">
    {{outlet}}
  </div>
</div>
<div class="row">
  <div class="col-sm-6">
    <!-- Recent Items -->

    <!-- Todo Lists -->
    <div id="todo-lists">
      <div class="tl-header">
        <h2>Todo Lists</h2>
        <small>Add, edit and manage your Todo Lists</small>
        <ul class="actions actions-alt">
          <li class="dropdown">
            <a href="" data-toggle="dropdown">
              <i class="zmdi zmdi-more-vert"></i>
            </a>
            <ul class="dropdown-menu dropdown-menu-right">
              <li>
                <a href="">Refresh</a>
              </li>
              <li>
                <a href="">Manage Widgets</a>
              </li>
              <li>
                <a href="">Widgets Settings</a>
              </li>
            </ul>
          </li>
        </ul>
      </div>
      <div class="clearfix"></div>
      <div class="tl-body">
        <div id="add-tl-item" class="">
          <i class="add-new-item zmdi zmdi-plus"></i>
          <div class="add-tl-body">
            <textarea placeholder="What you want to do..."></textarea>
            <div class="add-tl-actions">
              <a href="" data-tl-action="dismiss"><i class="zmdi zmdi-close"></i></a>
              <a href="" data-tl-action="save"><i class="zmdi zmdi-check"></i></a>
            </div>
          </div>
        </div>
        <div class="checkbox media">
          <div class="pull-right">
            <ul class="actions actions-alt">
              <li class="dropdown">
                <a href="" data-toggle="dropdown">
                  <i class="zmdi zmdi-more-vert"></i>
                </a>
                <ul class="dropdown-menu dropdown-menu-right">
                  <li><a href="">Delete</a></li>
                  <li><a href="">Archive</a></li>
                </ul>
              </li>
            </ul>
          </div>
          <div class="media-body">
            <label>
              <input type="checkbox">
              <i class="input-helper"></i>
              <span>Duis vitae nibh molestie pharetra augue vitae</span>
            </label>
          </div>
        </div>
        <div class="checkbox media">
          <div class="pull-right">
            <ul class="actions actions-alt">
              <li class="dropdown">
                <a href="" data-toggle="dropdown">
                  <i class="zmdi zmdi-more-vert"></i>
                </a>
                <ul class="dropdown-menu dropdown-menu-right">
                  <li><a href="">Delete</a></li>
                  <li><a href="">Archive</a></li>
                </ul>
              </li>
            </ul>
          </div>
          <div class="media-body">
            <label>
              <input type="checkbox">
              <i class="input-helper"></i>
              <span>In vel imperdiet leoorbi mollis leo sit amet quam fringilla varius mauris orci turpis</span>
            </label>
          </div>
        </div>
        <div class="checkbox media">
          <div class="pull-right">
            <ul class="actions actions-alt">
              <li class="dropdown">
                <a href="" data-toggle="dropdown">
                  <i class="zmdi zmdi-more-vert"></i>
                </a>
                <ul class="dropdown-menu dropdown-menu-right">
                  <li><a href="">Delete</a></li>
                  <li><a href="">Archive</a></li>
                </ul>
              </li>
            </ul>
          </div>
          <div class="media-body">
            <label>
              <input type="checkbox">
              <i class="input-helper"></i>
              <span>Suspendisse quis sollicitudin erosvel dictum nunc</span>
            </label>
          </div>
        </div>
        <div class="checkbox media">
          <div class="pull-right">
            <ul class="actions actions-alt">
              <li class="dropdown">
                <a href="" data-toggle="dropdown">
                  <i class="zmdi zmdi-more-vert"></i>
                </a>
                <ul class="dropdown-menu dropdown-menu-right">
                  <li><a href="">Delete</a></li>
                  <li><a href="">Archive</a></li>
                </ul>
              </li>
            </ul>
          </div>
          <div class="media-body">
            <label>
              <input type="checkbox">
              <i class="input-helper"></i>
              <span>Curabitur egestas finibus sapien quis faucibusras bibendum ut justo at sagittis. In hac habitasse platea dictumst</span>
            </label>
          </div>
        </div>
        <div class="checkbox media">
          <div class="pull-right">
            <ul class="actions actions-alt">
              <li class="dropdown">
                <a href="" data-toggle="dropdown">
                  <i class="zmdi zmdi-more-vert"></i>
                </a>
                <ul class="dropdown-menu dropdown-menu-right">
                  <li><a href="">Delete</a></li>
                  <li><a href="">Archive</a></li>
                </ul>
              </li>
            </ul>
          </div>
          <div class="media-body">
            <label>
              <input type="checkbox">
              <i class="input-helper"></i>
              <span>Suspendisse potenti. Cras dolor augue, tincidunt sit amet lorem id, blandit rutrum libero</span>
            </label>
          </div>
        </div>
        <div class="checkbox media">
          <div class="pull-right">
            <ul class="actions actions-alt">
              <li class="dropdown">
                <a href="" data-toggle="dropdown">
                  <i class="zmdi zmdi-more-vert"></i>
                </a>
                <ul class="dropdown-menu dropdown-menu-right">
                  <li><a href="">Delete</a></li>
                  <li><a href="">Archive</a></li>
                </ul>
              </li>
            </ul>
          </div>
          <div class="media-body">
            <label>
              <input type="checkbox">
              <i class="input-helper"></i>
              <span>Proin luctus dictum nisl id auctor. Nullam lobortis condimentum arcu sit amet gravida</span>
            </label>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
