<div role="tabpanel" class="tab-pane" id="descripcion">
<div class="row">
  <div class="col-md-6">
    {{forms/translation-input-new  locales=locales}}    
  </div>
</div>
<div class="row">
  <div class="col-md-6">
  {{#each groupedTranslations1 as |translationBatch|}}
  <div class="row">
  {{forms/translation-input  translationBatch=translationBatch}}
  </div>
  {{/each}}    
  </div>
  <div class="col-md-6">
  {{#each groupedTranslations2 as |translationBatch|}}
  <div class="row">
  {{forms/translation-input  translationBatch=translationBatch}}
  </div>
  {{/each}}

  </div>
</div>

</div>
