{{!--         <div role="tabpanel" class="tab-pane active" id="general">
          <div class="row">
            <div class="col-sm-4">
              <div class="thumbnail">
                <img src="img/300x200.gif" alt="">
                <div class="caption">
                  <h4>REK-1040 - <span class="precio">325.000€</span> </h4>
                  <p>Apartamento San Miguel de Salinas.</p>
                  <p class="iconos_grande">
                    <i class="fa fa-bed"></i> <span>2</span>&nbsp;&nbsp;&nbsp;&nbsp;
                    <i class="fa fa-male"></i><i class="fa fa-female"></i> <span>1<span>&nbsp;&nbsp;&nbsp;
                                        <i class="fa fa-arrows"></i> <span>25m<sup>2</sup></span>
                    </span>
                    </span>
                  </p>
                </div>
              </div>
            </div>
            <div class="col-sm-4">
              <h4>Datos Generales</h4>
              <div class="form-group fg-float">
                <a href="#" class="ayuda" data-toggle="tooltip" title="" data-original-title="Referencia del inmueble"><i class="fa fa-info"></i></a>
                <div class="fg-line has- fg-toggled">
                  <input type="text" class="input-sm form-control fg-input" value="REK-1040">
                </div>
                <label class="fg-label">REF</label>
              </div>
              <div class="form-group fg-float">
                <a href="#" class="ayuda" data-toggle="tooltip" title="" data-original-title="Precio de venta"><i class="fa fa-info"></i></a>
                <div class="fg-line has- fg-toggled">
                  <input type="text" class="input-sm form-control fg-input" value="325.000€">
                </div>
                <label class="fg-label">Precio Venta</label>
              </div>
              <div class="form-group fg-float">
                <a href="#" class="ayuda" data-toggle="tooltip" title="" data-original-title="El precio antes de la rebaja"><i class="fa fa-info"></i></a>
                <div class="fg-line has- fg-toggled">
                  <input type="text" class="input-sm form-control fg-input" value="350.000€">
                </div>
                <label class="fg-label">Precio Anterior</label>
              </div>
              <div class="form-group fg-float">
                <a href="#" class="ayuda" data-toggle="tooltip" title="" data-original-title="0 si el inmueble sólo es para venta."><i class="fa fa-info"></i></a>
                <div class="fg-line has- fg-toggled">
                  <input type="text" class="input-sm form-control fg-input" value="0">
                </div>
                <label class="fg-label">Precio Alquiler</label>
              </div>
              <div class="form-group fg-float">
                <div class="fg-line has-">
                  <select class="selectpicker" style="display: none;">
                    <option>Apartamento</option>
                    <option>Villa</option>
                  </select>
                  <div class="btn-group bootstrap-select">
                    <button type="button" class="btn dropdown-toggle selectpicker btn-default" data-toggle="dropdown" title="Apartamento"><span class="filter-option pull-left">Apartamento</span>&nbsp;<span class="caret"></span></button>
                    <div class="dropdown-menu open">
                      <ul class="dropdown-menu inner selectpicker" role="menu">
                        <li data-original-index="0" class="selected"><a tabindex="0" class="" data-normalized-text="<span class=&quot;text&quot;>Apartamento</span>"><span class="text">Apartamento</span><span class="md md-done check-mark"></span></a></li>
                        <li data-original-index="1"><a tabindex="0" class="" data-normalized-text="<span class=&quot;text&quot;>Villa</span>"><span class="text">Villa</span><span class="md md-done check-mark"></span></a></li>
                      </ul>
                    </div>
                  </div>
                </div>
                <label class="fg-label arriba_label">Tipo: </label>
              </div>
              <div class="form-group fg-float">
                <div class="fg-line has-">
                  <select class="selectpicker" style="display: none;">
                    <option>Nuevo</option>
                    <option>En construcción</option>
                  </select>
                  <div class="btn-group bootstrap-select">
                    <button type="button" class="btn dropdown-toggle selectpicker btn-default" data-toggle="dropdown" title="Nuevo"><span class="filter-option pull-left">Nuevo</span>&nbsp;<span class="caret"></span></button>
                    <div class="dropdown-menu open">
                      <ul class="dropdown-menu inner selectpicker" role="menu">
                        <li data-original-index="0" class="selected"><a tabindex="0" class="" data-normalized-text="<span class=&quot;text&quot;>Nuevo</span>"><span class="text">Nuevo</span><span class="md md-done check-mark"></span></a></li>
                        <li data-original-index="1"><a tabindex="0" class="" data-normalized-text="<span class=&quot;text&quot;>En construccion</span>"><span class="text">En construcción</span><span class="md md-done check-mark"></span></a></li>
                      </ul>
                    </div>
                  </div>
                </div>
                <label class="fg-label arriba_label">Estado: </label>
              </div>
              <div class="form-group fg-float">
                <div class="fg-line has-">
                  <select class="selectpicker" style="display: none;">
                    <option>Particular</option>
                    <option>Banco</option>
                  </select>
                  <div class="btn-group bootstrap-select">
                    <button type="button" class="btn dropdown-toggle selectpicker btn-default" data-toggle="dropdown" title="Particular"><span class="filter-option pull-left">Particular</span>&nbsp;<span class="caret"></span></button>
                    <div class="dropdown-menu open">
                      <ul class="dropdown-menu inner selectpicker" role="menu">
                        <li data-original-index="0" class="selected"><a tabindex="0" class="" data-normalized-text="<span class=&quot;text&quot;>Particular</span>"><span class="text">Particular</span><span class="md md-done check-mark"></span></a></li>
                        <li data-original-index="1"><a tabindex="0" class="" data-normalized-text="<span class=&quot;text&quot;>Banco</span>"><span class="text">Banco</span><span class="md md-done check-mark"></span></a></li>
                      </ul>
                    </div>
                  </div>
                </div>
                <label class="fg-label arriba_label">Origen: </label>
              </div>
              <br>
              <h4 class="sep50">Alquiler de temporada</h4>
              <div id="toggle_temporadas">
                <div class="form-group fg-float">
                  <div class="fg-line has-">
                    <a href="#" class="ayuda" data-toggle="tooltip" title="" data-original-title="Si el inmueble se alquila por temporadas"><i class="fa fa-info"></i></a>
                    <select class="selectpicker" style="display: none;">
                      <option value="0" selected="">No</option>
                      <option value="1">Sí</option>
                    </select>
                    <div class="btn-group bootstrap-select">
                      <button type="button" class="btn dropdown-toggle selectpicker btn-default" data-toggle="dropdown" title="No"><span class="filter-option pull-left">No</span>&nbsp;<span class="caret"></span></button>
                      <div class="dropdown-menu open">
                        <ul class="dropdown-menu inner selectpicker" role="menu">
                          <li data-original-index="0" class="selected"><a tabindex="0" class="" data-normalized-text="<span class=&quot;text&quot;>No</span>"><span class="text">No</span><span class="md md-done check-mark"></span></a></li>
                          <li data-original-index="1"><a tabindex="0" class="" data-normalized-text="<span class=&quot;text&quot;>Si</span>"><span class="text">Sí</span><span class="md md-done check-mark"></span></a></li>
                        </ul>
                      </div>
                    </div>
                  </div>
                  <label class="fg-label arriba_label">Temporadas: </label>
                </div>
                <div class="form-group fg-float">
                  <div class="fg-line has- fg-toggled">
                    <input type="text" class="input-sm form-control fg-input" value="0">
                  </div>
                  <label class="fg-label">Precio Temp. Alta</label>
                </div>
                <div class="form-group fg-float">
                  <div class="fg-line has- fg-toggled">
                    <input type="text" class="input-sm form-control fg-input" value="0">
                  </div>
                  <label class="fg-label">Precio Temp. Media</label>
                </div>
                <div class="form-group fg-float">
                  <div class="fg-line has- fg-toggled">
                    <input type="text" class="input-sm form-control fg-input" value="0">
                  </div>
                  <label class="fg-label">Precio Temp. Baja</label>
                </div>
              </div>
            </div>
            <div class="col-sm-4">
              <h4>Características</h4>
              <div class="form-group fg-float">
                <a href="#" class="ayuda" data-toggle="tooltip" title="" data-original-title="Elija la eficiencia energética del inmueble"><i class="fa fa-info"></i></a>
                <div class="fg-line has-">
                  <select class="selectpicker" style="display: none;">
                    <option>En trámite</option>
                    <option>A</option>
                  </select>
                  <div class="btn-group bootstrap-select">
                    <button type="button" class="btn dropdown-toggle selectpicker btn-default" data-toggle="dropdown" title="En trámite"><span class="filter-option pull-left">En trámite</span>&nbsp;<span class="caret"></span></button>
                    <div class="dropdown-menu open">
                      <ul class="dropdown-menu inner selectpicker" role="menu">
                        <li data-original-index="0" class="selected"><a tabindex="0" class="" data-normalized-text="<span class=&quot;text&quot;>En tramite</span>"><span class="text">En trámite</span><span class="md md-done check-mark"></span></a></li>
                        <li data-original-index="1"><a tabindex="0" class="" data-normalized-text="<span class=&quot;text&quot;>A</span>"><span class="text">A</span><span class="md md-done check-mark"></span></a></li>
                      </ul>
                    </div>
                  </div>
                </div>
                <label class="fg-label arriba_label">Eficiencia Energética: </label>
              </div>
              <div class="form-group fg-float">
                <div class="fg-line has- fg-toggled">
                  <input type="text" class="input-sm form-control fg-input" value="2010">
                </div>
                <label class="fg-label">Año constr</label>
              </div>
              <div class="form-group fg-float">
                <div class="fg-line has- fg-toggled">
                  <input type="text" class="input-sm form-control fg-input" value="3">
                </div>
                <label class="fg-label">Núm. habitaciones</label>
              </div>
              <div class="form-group fg-float">
                <div class="fg-line has- fg-toggled">
                  <input type="text" class="input-sm form-control fg-input" value="2">
                </div>
                <label class="fg-label">Núm. baños</label>
              </div>
              <div class="form-group fg-float">
                <div class="fg-line has-">
                  <input type="text" class="input-sm form-control fg-input" value="">
                </div>
                <label class="fg-label">Núm. aseos</label>
              </div>
              <div class="form-group fg-float">
                <div class="fg-line has-">
                  <input type="text" class="input-sm form-control fg-input" value="">
                </div>
                <label class="fg-label">m. parcela</label>
              </div>
              <div class="form-group fg-float">
                <div class="fg-line has-">
                  <input type="text" class="input-sm form-control fg-input" value="">
                </div>
                <label class="fg-label">m. construidos</label>
              </div>
              <div class="form-group fg-float">
                <div class="fg-line has-">
                  <a href="#" class="ayuda" data-toggle="tooltip" title="" data-original-title="Si el inmueble dispone de plaza de garaje o no."><i class="fa fa-info"></i></a>
                  <select class="selectpicker" style="display: none;">
                    <option value="0" selected="">No</option>
                    <option value="1">Sí</option>
                  </select>
                  <div class="btn-group bootstrap-select">
                    <button type="button" class="btn dropdown-toggle selectpicker btn-default" data-toggle="dropdown" title="No"><span class="filter-option pull-left">No</span>&nbsp;<span class="caret"></span></button>
                    <div class="dropdown-menu open">
                      <ul class="dropdown-menu inner selectpicker" role="menu">
                        <li data-original-index="0" class="selected"><a tabindex="0" class="" data-normalized-text="<span class=&quot;text&quot;>No</span>"><span class="text">No</span><span class="md md-done check-mark"></span></a></li>
                        <li data-original-index="1"><a tabindex="0" class="" data-normalized-text="<span class=&quot;text&quot;>Si</span>"><span class="text">Sí</span><span class="md md-done check-mark"></span></a></li>
                      </ul>
                    </div>
                  </div>
                </div>
                <label class="fg-label arriba_label">Garaje: </label>
              </div>
              <br>
              <h4 class="sep50">Visibilidad</h4>
              <div class="form-group fg-float">
                <div class="fg-line has-">
                  <a href="#" class="ayuda" data-toggle="tooltip" title="" data-original-title="Sí para publicar el inmueble en su web"><i class="fa fa-info"></i></a>
                  <select class="selectpicker" style="display: none;">
                    <option value="0">No</option>
                    <option value="1" selected="">Sí</option>
                  </select>
                  <div class="btn-group bootstrap-select">
                    <button type="button" class="btn dropdown-toggle selectpicker btn-default" data-toggle="dropdown" title="Sí"><span class="filter-option pull-left">Sí</span>&nbsp;<span class="caret"></span></button>
                    <div class="dropdown-menu open">
                      <ul class="dropdown-menu inner selectpicker" role="menu">
                        <li data-original-index="0"><a tabindex="0" class="" data-normalized-text="<span class=&quot;text&quot;>No</span>"><span class="text">No</span><span class="md md-done check-mark"></span></a></li>
                        <li data-original-index="1" class="selected"><a tabindex="0" class="" data-normalized-text="<span class=&quot;text&quot;>Si</span>"><span class="text">Sí</span><span class="md md-done check-mark"></span></a></li>
                      </ul>
                    </div>
                  </div>
                </div>
                <label class="fg-label arriba_label">Visible: </label>
              </div>
              <div class="form-group fg-float">
                <div class="fg-line has-">
                  <a href="#" class="ayuda" data-toggle="tooltip" title="" destacados ""="" data-original-title="Sí para poner el inmueble en la sección "><i class="fa fa-info"></i></a>
                  <select class="selectpicker" style="display: none;">
                    <option value="0">No</option>
                    <option value="1" selected="">Sí</option>
                  </select>
                  <div class="btn-group bootstrap-select">
                    <button type="button" class="btn dropdown-toggle selectpicker btn-default" data-toggle="dropdown" title="Sí"><span class="filter-option pull-left">Sí</span>&nbsp;<span class="caret"></span></button>
                    <div class="dropdown-menu open">
                      <ul class="dropdown-menu inner selectpicker" role="menu">
                        <li data-original-index="0"><a tabindex="0" class="" data-normalized-text="<span class=&quot;text&quot;>No</span>"><span class="text">No</span><span class="md md-done check-mark"></span></a></li>
                        <li data-original-index="1" class="selected"><a tabindex="0" class="" data-normalized-text="<span class=&quot;text&quot;>Si</span>"><span class="text">Sí</span><span class="md md-done check-mark"></span></a></li>
                      </ul>
                    </div>
                  </div>
                </div>
                <label class="fg-label arriba_label">Destacado: </label>
              </div>
              <div class="form-group fg-float">
                <div class="fg-line has-">
                  <select class="selectpicker" style="display: none;">
                    <option>---</option>
                    <option>Vendido</option>
                    <option>Oferta</option>
                  </select>
                  <div class="btn-group bootstrap-select">
                    <button type="button" class="btn dropdown-toggle selectpicker btn-default" data-toggle="dropdown" title="---"><span class="filter-option pull-left">---</span>&nbsp;<span class="caret"></span></button>
                    <div class="dropdown-menu open">
                      <ul class="dropdown-menu inner selectpicker" role="menu">
                        <li data-original-index="0" class="selected"><a tabindex="0" class="" data-normalized-text="<span class=&quot;text&quot;>---</span>"><span class="text">---</span><span class="md md-done check-mark"></span></a></li>
                        <li data-original-index="1"><a tabindex="0" class="" data-normalized-text="<span class=&quot;text&quot;>Vendido</span>"><span class="text">Vendido</span><span class="md md-done check-mark"></span></a></li>
                        <li data-original-index="2"><a tabindex="0" class="" data-normalized-text="<span class=&quot;text&quot;>Oferta</span>"><span class="text">Oferta</span><span class="md md-done check-mark"></span></a></li>
                      </ul>
                    </div>
                  </div>
                </div>
                <label class="fg-label arriba_label">Etiqueta: </label>
              </div>
              <br>
              <h4 class="sep50">Portales</h4>
              <div class="form-group fg-float">
                <div class="fg-line has-">
                  <a href="#" class="ayuda" data-toggle="tooltip" title="" data-original-title="Sí para publicar en Yaencontre, previo contrato con ellos."><i class="fa fa-info"></i></a>
                  <select class="selectpicker" style="display: none;">
                    <option value="0" selected="">No</option>
                    <option value="1">Sí</option>
                  </select>
                  <div class="btn-group bootstrap-select">
                    <button type="button" class="btn dropdown-toggle selectpicker btn-default" data-toggle="dropdown" title="No"><span class="filter-option pull-left">No</span>&nbsp;<span class="caret"></span></button>
                    <div class="dropdown-menu open">
                      <ul class="dropdown-menu inner selectpicker" role="menu">
                        <li data-original-index="0" class="selected"><a tabindex="0" class="" data-normalized-text="<span class=&quot;text&quot;>No</span>"><span class="text">No</span><span class="md md-done check-mark"></span></a></li>
                        <li data-original-index="1"><a tabindex="0" class="" data-normalized-text="<span class=&quot;text&quot;>Si</span>"><span class="text">Sí</span><span class="md md-done check-mark"></span></a></li>
                      </ul>
                    </div>
                  </div>
                </div>
                <label class="fg-label arriba_label">Yaencontre.com: </label>
              </div>
              <div class="form-group fg-float">
                <div class="fg-line has-">
                  <a href="#" class="ayuda" data-toggle="tooltip" title="" data-original-title="Sí para publicar en Idealista, previo contrato con ellos."><i class="fa fa-info"></i></a>
                  <select class="selectpicker" style="display: none;">
                    <option value="0" selected="">No</option>
                    <option value="1">Sí</option>
                  </select>
                  <div class="btn-group bootstrap-select">
                    <button type="button" class="btn dropdown-toggle selectpicker btn-default" data-toggle="dropdown" title="No"><span class="filter-option pull-left">No</span>&nbsp;<span class="caret"></span></button>
                    <div class="dropdown-menu open">
                      <ul class="dropdown-menu inner selectpicker" role="menu">
                        <li data-original-index="0" class="selected"><a tabindex="0" class="" data-normalized-text="<span class=&quot;text&quot;>No</span>"><span class="text">No</span><span class="md md-done check-mark"></span></a></li>
                        <li data-original-index="1"><a tabindex="0" class="" data-normalized-text="<span class=&quot;text&quot;>Si</span>"><span class="text">Sí</span><span class="md md-done check-mark"></span></a></li>
                      </ul>
                    </div>
                  </div>
                </div>
                <label class="fg-label arriba_label">Idealista.com: </label>
              </div>
            </div>
          </div>
        </div>
        <div role="tabpanel" class="tab-pane" id="situacion">
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group fg-float">
                <div class="fg-line has- fg-toggled">
                  <input type="text" class="input-sm form-control fg-input" value="Lloret de Mar">
                </div>
                <label class="fg-label">Localidad</label>
              </div>
              <div class="form-group fg-float">
                <div class="fg-line has- fg-toggled">
                  <input type="text" class="input-sm form-control fg-input" value="Centro">
                </div>
                <label class="fg-label">Zona</label>
              </div>
              <div class="form-group fg-float">
                <div class="fg-line has- fg-toggled">
                  <input type="text" class="input-sm form-control fg-input" value="08451">
                </div>
                <label class="fg-label">Código Postal</label>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group fg-float">
                <a href="#" class="ayuda" data-toggle="tooltip" title="" data-original-title="Esta dirección sale en la web. Si no quiere que aparezca, deje el campo en blanco."><i class="fa fa-info"></i></a>
                <div class="fg-line has- fg-toggled">
                  <input type="text" class="input-sm form-control fg-input" value="C/ Mayor 1">
                </div>
                <label class="fg-label">Dirección</label>
              </div>
              <div class="form-group fg-float">
                <a href="#" class="ayuda" data-toggle="tooltip" title="" data-original-title="Esta dirección no sale en la web. Es para su control interno."><i class="fa fa-info"></i></a>
                <div class="fg-line has- fg-toggled">
                  <input type="text" class="input-sm form-control fg-input" value="C/ auténtica 17">
                </div>
                <label class="fg-label">Dirección real</label>
              </div>
              <div class="form-group fg-float">
                <a href="#" class="ayuda" data-toggle="tooltip" title="" data-original-title="Esta dirección se corresponde con las coordenadas del mapa. Para evitar que el sistema ponga el localizador correctamente, ponga el código postal o la localidad y el país. Ej. C/ Mayor 1, 28001 Madrrid (España)"><i class="fa fa-info"></i></a>
                <div class="fg-line has- fg-toggled">
                  <input type="text" class="input-sm form-control fg-input" value="C/ Mayor 1">
                </div>
                <label class="fg-label">Dirección mapa</label>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <div class="alert alert-info alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Cerrar"><span aria-hidden="true">×</span></button><i class="fa fa-lg fa-info"></i> Pinche en el mapa para actualizar la posición de la propiedad.
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <div id="mapa">Aquí el mapa</div>
            </div>
            <div class="col-sm-6">
              <div id="pano">Aquí la vista panorámica</div>
            </div>
          </div>
        </div>

        <div role="tabpanel" class="tab-pane" id="extras">
          <div class="row">
            <div class="col-sm-4">
              <div class="checkbox m-b-15">
                <label>
                  <input type="checkbox" value="">
                  <i class="input-helper"></i> Extra 1
                </label>
              </div>
              <div class="checkbox m-b-15">
                <label>
                  <input type="checkbox" value="" checked="">
                  <i class="input-helper"></i> Extra 2
                </label>
              </div>
              <div class="checkbox m-b-15">
                <label>
                  <input type="checkbox" value="">
                  <i class="input-helper"></i> Extra 3
                </label>
              </div>
              <div class="checkbox m-b-15">
                <label>
                  <input type="checkbox" value="">
                  <i class="input-helper"></i> Extra 4
                </label>
              </div>
              <div class="checkbox m-b-15">
                <label>
                  <input type="checkbox" value="">
                  <i class="input-helper"></i> Extra 5
                </label>
              </div>
              <div class="checkbox m-b-15">
                <label>
                  <input type="checkbox" value="">
                  <i class="input-helper"></i> Extra 6
                </label>
              </div>
              <div class="checkbox m-b-15">
                <label>
                  <input type="checkbox" value="">
                  <i class="input-helper"></i> Extra 7
                </label>
              </div>
              <div class="checkbox m-b-15">
                <label>
                  <input type="checkbox" value="">
                  <i class="input-helper"></i> Extra 8
                </label>
              </div>
              <div class="checkbox m-b-15">
                <label>
                  <input type="checkbox" value="">
                  <i class="input-helper"></i> Extra 9
                </label>
              </div>
              <div class="checkbox m-b-15">
                <label>
                  <input type="checkbox" value="">
                  <i class="input-helper"></i> Extra 10
                </label>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="checkbox m-b-15">
                <label>
                  <input type="checkbox" value="">
                  <i class="input-helper"></i> Extra 11
                </label>
              </div>
              <div class="checkbox m-b-15">
                <label>
                  <input type="checkbox" value="">
                  <i class="input-helper"></i> Extra 12
                </label>
              </div>
              <div class="checkbox m-b-15">
                <label>
                  <input type="checkbox" value="" checked="">
                  <i class="input-helper"></i> Extra 13
                </label>
              </div>
              <div class="checkbox m-b-15">
                <label>
                  <input type="checkbox" value="">
                  <i class="input-helper"></i> Extra 14
                </label>
              </div>
              <div class="checkbox m-b-15">
                <label>
                  <input type="checkbox" value="">
                  <i class="input-helper"></i> Extra 15
                </label>
              </div>
              <div class="checkbox m-b-15">
                <label>
                  <input type="checkbox" value="">
                  <i class="input-helper"></i> Extra 16
                </label>
              </div>
              <div class="checkbox m-b-15">
                <label>
                  <input type="checkbox" value="">
                  <i class="input-helper"></i> Extra 17
                </label>
              </div>
              <div class="checkbox m-b-15">
                <label>
                  <input type="checkbox" value="">
                  <i class="input-helper"></i> Extra 18
                </label>
              </div>
              <div class="checkbox m-b-15">
                <label>
                  <input type="checkbox" value="">
                  <i class="input-helper"></i> Extra 19
                </label>
              </div>
              <div class="checkbox m-b-15">
                <label>
                  <input type="checkbox" value="">
                  <i class="input-helper"></i> Extra 20
                </label>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="checkbox m-b-15">
                <label>
                  <input type="checkbox" value="">
                  <i class="input-helper"></i> Extra 21
                </label>
              </div>
              <div class="checkbox m-b-15">
                <label>
                  <input type="checkbox" value="">
                  <i class="input-helper"></i> Extra 22
                </label>
              </div>
              <div class="checkbox m-b-15">
                <label>
                  <input type="checkbox" value="">
                  <i class="input-helper"></i> Extra 23
                </label>
              </div>
              <div class="checkbox m-b-15">
                <label>
                  <input type="checkbox" value="">
                  <i class="input-helper"></i> Extra 24
                </label>
              </div>
              <div class="checkbox m-b-15">
                <label>
                  <input type="checkbox" value="">
                  <i class="input-helper"></i> Extra 25
                </label>
              </div>
              <div class="checkbox m-b-15">
                <label>
                  <input type="checkbox" value="" checked="">
                  <i class="input-helper"></i> Extra 26
                </label>
              </div>
              <div class="checkbox m-b-15">
                <label>
                  <input type="checkbox" value="">
                  <i class="input-helper"></i> Extra 27
                </label>
              </div>
              <div class="checkbox m-b-15">
                <label>
                  <input type="checkbox" value="" checked="">
                  <i class="input-helper"></i> Extra 28
                </label>
              </div>
              <div class="checkbox m-b-15">
                <label>
                  <input type="checkbox" value="">
                  <i class="input-helper"></i> Extra 29
                </label>
              </div>
              <div class="checkbox m-b-15">
                <label>
                  <input type="checkbox" value="">
                  <i class="input-helper"></i> Extra 30
                </label>
              </div>
            </div>
          </div>
        </div>
        <div role="tabpanel" class="tab-pane" id="fotos">
          <div class="row">
            <div class="col-sm-12">
              <div class="alert alert-info alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Cerrar"><span aria-hidden="true">×</span></button><i class="fa fa-lg fa-info"></i> Pinche y arrastre sobre la fila para ordenar.
                <br>La primera foto es la foto principal.
              </div>
            </div>
          </div>
          <table id="tabla_fotos" cellspacing="0">
            <tbody>
              <tr data-id_foto="1" id="1" class="foto_principal">
                <td>
                  <div class="thumbnail">
                    <img src="img/300x200.gif" alt="">
                  </div>
                </td>
                <td class="hidden-xs">Nombre Archivo</td>
                <td class="hidden-xs">Url</td>
                <td class="text-left">
                  <button type="button" class="btn btn-icon command-delete" data-row-id="REK-1040">
                    <span class="md md-delete"></span>
                  </button>
                </td>
              </tr>
              <tr data-id_foto="1" id="2" class="foto_principal">
                <td>
                  <div class="thumbnail">
                    <img src="img/300x200.gif" alt="">
                  </div>
                </td>
                <td class="hidden-xs">Nombre Archivo 2</td>
                <td class="hidden-xs">Url</td>
                <td class="text-left">
                  <button type="button" class="btn btn-icon command-delete" data-row-id="REK-1040">
                    <span class="md md-delete"></span>
                  </button>
                </td>
              </tr>
              <tr data-id_foto="1" id="3" class="foto_principal">
                <td>
                  <div class="thumbnail">
                    <img src="img/300x200.gif" alt="">
                  </div>
                </td>
                <td class="hidden-xs">Nombre Archivo 3</td>
                <td class="hidden-xs">Url</td>
                <td class="text-left">
                  <button type="button" class="btn btn-icon command-delete" data-row-id="REK-1040">
                    <span class="md md-delete"></span>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div role="tabpanel" class="tab-pane" id="video">
          <div class="row">
            <div class="col-sm-6">
              <div class="embed-responsive embed-responsive-4by3">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/hteXrG1-gI0"></iframe>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group fg-float">
                <a href="#" class="ayuda" data-toggle="tooltip" title="" data-original-title="Copia y pega el atributo &quot;src&quot; de la url que sale en youtube, al pinchar en &quot;Insertar&quot;."><i class="fa fa-info"></i></a>
                <div class="fg-line has- fg-toggled">
                  <input type="text" class="input-sm form-control fg-input" value="https://www.youtube.com/embed/hteXrG1-gI0">
                </div>
                <label class="fg-label">Url</label>
              </div>
            </div>
          </div>
        </div> --}}