{{#if fieldDetails.tooltipTextTKey}}
  <a class="ayuda" data-toggle="tooltip" title="" data-original-title={{t fieldDetails.tooltipTextTKey}}><i class="fa fa-info"></i></a>
{{/if}}

  <label class="fg-label ">{{t fieldDetails.labelTextTKey }}</label>
<div class="fg-line has-">

  <select class="selectpicker" style="display: none;">
{{#each fieldOptions as |selectValue|}} 
  <option value={{ selectValue.value }} >{{ selectValue.label }}</option>
{{/each}}
  </select>

</div>
