<div class="row">
  <div class="col-sm-12">
  </div>
  <div class="col-sm-12">
    {{io/preview-properties properties=propsToImport propertiesStatus=propertiesStatus hidePropertyAction="hideProperty" }}
  </div>
  <div class="col-sm-12">
    <p><a class="btn btn-edfile" {{action "getMlsData"}}>
    Import from MLS
    </a></p>
  </div>
</div>
