<h5>{{t languageSettings.titleLabelKey }}</h5>
<div class=''>
  <div class="form-group">
    {{input value=titleValue class="input-sm form-control fg-input" }}
  </div>
</div>
<h5>{{t languageSettings.descriptionLabelKey }}</h5>
<div class='wysiwyg-container'>
  {{wysiwyg-editor content=descriptionValue header="Example"}}
</div>
