<div class="fg-line has-">
  <select class="selectpicker" style="display: none;">
{{#each fieldDetails.options as |selectValue|}} 
  <option>{{ selectValue.titleKey }}</option>
{{/each}}
  </select>

</div>
<label class="fg-label arriba_label">{{ fieldDetails.labelText }}</label>
