<div class="fg-line has-">
  <select class="selectpicker" style="display: none;">
    <option>Apartamento</option>
    <option>Villa</option>
  </select>

</div>
<label class="fg-label arriba_label">{{ fieldDetails.labelText }}</label>
