{{#if errors}}
{{#each errors as |error|}}
<div class="fg-float has-error">
  <div class="help-block has-error">{{t error }}</div>  
</div>
{{/each}}
{{/if}}

{{#each sectionFields as |sectionField|}} 
<div class="form-group fg-float">
  {{forms/simple-boolean  resetTrigger=resetTrigger valueChangedAction="changeSections"  fieldDetails=sectionField resourceObject=sectionOptions }}
</div>
{{/each}}