{{#if errors}}
{{#each errors as |error|}}
<div class="fg-float has-error">
  <div class="help-block has-error">{{t error }}</div>  
</div>
{{/each}}
{{/if}}
<div class="form-group fg-float">
{{#each languageFields as |languageField|}} 
  {{forms/simple-boolean  resetTrigger=resetTrigger valueChangedAction="changeSupportedLanguage"  fieldDetails=languageField resourceObject=languageOptions }}
{{/each}}
</div>
