<div class="fg-line has-">
  <select class="selectpicker bs-select-hidden" style="display: none;">
    <option>Apartamento</option>
    <option>Villa</option>
  </select>
  <div class="btn-group bootstrap-select">
    <button type="button" class="btn dropdown-toggle btn-default" data-toggle="dropdown" title="Villa" aria-expanded="false"><span class="filter-option pull-left">Villa</span>&nbsp;<span class="bs-caret"><span class="caret"></span></span>
    </button>
    <div class="dropdown-menu open" style="max-height: 125px; overflow: hidden; min-height: 0px;">
      <ul class="dropdown-menu inner" role="menu" style="max-height: 113px; overflow-y: auto; min-height: 0px;">
        <li data-original-index="0" class=""><a tabindex="0" class="" style="" data-tokens="null"><span class="text">Apartamento</span><span class="fa fa-check check-mark"></span></a></li>
        <li data-original-index="1" class="selected"><a tabindex="0" class="" style="" data-tokens="null"><span class="text">Villa</span><span class="fa fa-check check-mark"></span></a></li>
      </ul>
    </div>
  </div>
</div>
