<div class="card">
    
    <div class="card-header">
        <h2>Editar una propiedad <small>REF: REK-1040</small></h2>
    </div>

    <div class="card-body card-padding">
        <div role="tabpanel">
            
            <ul data-tab-color="green" class="tab-nav" role="tablist" tabindex="1" style="overflow: hidden; outline: none;">
                <li class="active"><a href="#general" aria-controls="general" role="tab" data-toggle="tab">General</a></li>
                <li><a href="#situacion" aria-controls="situacion" role="tab" data-toggle="tab">Situación</a></li>
                <li><a href="#descripcion" aria-controls="descripcion" role="tab" data-toggle="tab">Descripción</a></li>
                <li><a href="#extras" aria-controls="extras" role="tab" data-toggle="tab">Extras</a></li>
                <li><a href="#fotos" aria-controls="fotos" role="tab" data-toggle="tab">Fotos</a></li>
                <li><a href="#video" aria-controls="video" role="tab" data-toggle="tab">Vídeo</a></li>
                <li><a href="#venta" aria-controls="venta" role="tab" data-toggle="tab">Venta</a></li>
            </ul>
          
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="general">
                    
                    <div class="row">
                        <div class="col-sm-4">      
                             <div class="thumbnail">
                                <img src="img/300x200.gif" alt="">
                                <div class="caption">
                                    <h4>REK-1040 - <span class="precio">325.000€</span> </h4> 
                                    <p>Apartamento San Miguel de Salinas.</p>
                                    <p class="iconos_grande">
                                        <i class="fa fa-bed"></i> <span>2</span>&nbsp;&nbsp;&nbsp;&nbsp;
                                        <i class="fa fa-male"></i><i class="fa fa-female"></i> <span>1</span>&nbsp;&nbsp;&nbsp;
                                        <i class="fa fa-arrows"></i> <span>25m<sup>2</sup></span>
                                    </p>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-4">                       
                            
                            <h4>Datos Generales</h4>

    
                            
                            <br>
                            <h4 class="sep50">Alquiler de temporada</h4>
                            <div id="toggle_temporadas">
inputs

                            </div>

                        </div>
                        
                        <div class="col-sm-4">                       
                            

                            <h4>Características</h4>

php_campo
                            
                            <br>
                            <h4 class="sep50">Visibilidad</h4>

php_campo
                            
                            <br>
                            <h4 class="sep50">Portales</h4>

php_campo


                        </div>

                    </div>

                </div>
                <div role="tabpanel" class="tab-pane" id="situacion">
                    <div class="row">
                        <div class="col-sm-6">      

php_campo


                        </div>

                        <div class="col-sm-6">      

php_campo


                        </div>

                    </div>
                    
php_notice                    
                    <div class="row">
                        <div class="col-sm-6">      
                            <div id="mapa">Aquí el mapa</div>
                        </div>

                        <div class="col-sm-6">      
                            <div id="pano">Aquí la vista panorámica</div>
                        </div>

                    </div>
                    

                </div>

                <div role="tabpanel" class="tab-pane" id="descripcion">
                    

phpnotis

                    <h6>Español</h6>
                    <div class="html-editor-airmod" contenteditable="true">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce euismod quam vel lacinia facilisis. Sed condimentum nisi vel ante maximus, sit amet vestibulum leo euismod. Curabitur viverra faucibus nisi eu molestie. Donec convallis finibus felis porttitor tristique. Nulla pretium est et ante dignissim,
                    </div>
                    
                    <div class="sep100"></div>

                    <h6>Inglés</h6>
                    <div class="html-editor-airmod" contenteditable="true">
                        Traducción al inglésquam vel lacinia facilisis. Sed condimentum nisi vel ante maximus, sit amet vestibulum leo euismod. Curabitur viverra faucibus nisi eu molestie. Donec convallis finibus felis porttitor tristique. Nulla pretium est et ante dignissim,
                    </div>

                </div>

                <div role="tabpanel" class="tab-pane" id="extras">
                    
                    <div class="row">
                        
                        <div class="col-sm-4">

php_checkboxes
                        </div>
                        
                        <div class="col-sm-4">

php_checkboxes                        </div>
                        
                        <div class="col-sm-4">

php_checkboxes
                        </div>

                    </div>

                </div>
                
                <div role="tabpanel" class="tab-pane" id="fotos">
                    
php_notice
                    <table id="tabla_fotos" cellspacing="0" >
                        
                        <tr data-id_foto="1" id="1" class="foto_principal">
                            
                            <td>      
                                <div class="thumbnail">
                                   <img src="img/300x200.gif" alt="">
                                </div>
                                
                            </td>
                            <td class="hidden-xs">Nombre Archivo</td>
                            <td class="hidden-xs">Url</td>
                            <td class="text-left">
                                
                                <button type="button" class="btn btn-icon command-delete" data-row-id="REK-1040">
                                    <span class="md md-delete"></span>
                                </button>
                            </td>

                        </tr>


                        <tr data-id_foto="1" id="2" class="foto_principal">
                            
                            <td>      
                                <div class="thumbnail">
                                   <img src="img/300x200.gif" alt="">
                                </div>
                                
                            </td>
                            <td class="hidden-xs">Nombre Archivo 2</td>
                            <td class="hidden-xs">Url</td>
                            <td class="text-left">
                                
                                <button type="button" class="btn btn-icon command-delete" data-row-id="REK-1040">
                                    <span class="md md-delete"></span>
                                </button>
                            </td>

                        </tr>


                        <tr data-id_foto="1" id="3" class="foto_principal">
                            
                            <td>      
                                <div class="thumbnail">
                                   <img src="img/300x200.gif" alt="">
                                </div>
                                
                            </td>
                            <td class="hidden-xs">Nombre Archivo 3</td>
                            <td class="hidden-xs">Url</td>
                            <td class="text-left">
                                
                                <button type="button" class="btn btn-icon command-delete" data-row-id="REK-1040">
                                    <span class="md md-delete"></span>
                                </button>
                            </td>

                        </tr>
                        
                    </table>

                </div>
                
                <div role="tabpanel" class="tab-pane" id="video">
                    <div class="row">
                        <div class="col-sm-6">
                            
                            <div class="embed-responsive embed-responsive-4by3">
                                <iframe class="embed-responsive-item" src="">youtube vid</iframe>
                            </div>
                            
                        </div>
                        <div class="col-sm-6">

php_campo

                        </div>

                    </div>
                </div>

                <div role="tabpanel" class="tab-pane" id="venta">
                    
php_notice
                    <div class="row">
                        <div class="col-sm-4">
php_campo
                        </div>
                        <div class="col-sm-4">

php_campo

                        </div>
                        <div class="col-sm-4">

php_campo

                        </div>
                    </div>

                </div>

            </div>
        </div>
                            
                    
      
    </div>
</div>