/*for translation inputs */

.translation-card {
  border: gray;
  border-style: solid;
  border-radius: 6px;
}

.btn-save-translation {
  /*margin-top: 20%;*/
}

.translation-input-header {
  text-align: center;
  padding: 2%;
  color: black;
}

.translation-input {
/*  margin-left: 5%;
  margin-bottom: 2%;
  width: 90%;
  color: #555555;*/
  padding: 10px;
}

.form-group {
  position: relative;
  display: block;
  clear: both;
  width: 100%;
}


/*feb 2017 - above for translation inputs
but fairly certain styles below no longer
 in use*/


/* fuentes */

.montserrat {
  font-family: 'Montserrat', sans-serif;
}

.oswald {
  font-family: 'Oswald', sans-serif;
}

.slavo {
  font-family: 'Slabo 27px', serif;
}

.roboto {
  font-family: 'Roboto', sans-serif;
}

.opensans {
  font-family: 'Open Sans', sans-serif;
}

.lobster {
  font-family: 'Lobster', cursive;
}

.poiretone {
  font-family: 'Poiret One', cursive;
}

.arvo {
  font-family: 'Arvo', serif;
}

.breeserif {
  font-family: 'Bree Serif', serif;
}

.anton {
  font-family: 'Anton', sans-serif;
}


/* general */

.precio {
  color: red;
}

.sep {
  width: 100%;
  clear: both;
  float: left;
}

.sep20 {
  width: 100%;
  clear: both;
  float: left;
  margin-top: 20px;
}

.sep25 {
  width: 100%;
  clear: both;
  float: left;
  margin-top: 25px;
}

.sep30 {
  width: 100%;
  clear: both;
  float: left;
  margin-top: 30px;
}

.sep50 {
  width: 100%;
  clear: both;
  float: left;
  margin-top: 50px;
}

.sep70 {
  width: 100%;
  clear: both;
  float: left;
  margin-top: 70px;
}

.sep100 {
  width: 100%;
  clear: both;
  float: left;
  margin-top: 100px;
}

.text_center {
  text-align: center;
}

.input-sm {
  font-size: 14px;
}

.input-group:not(.input-group-lg):not(.input-group-sm) .input-group-addon .fa {
  font-size: 23px;
  line-height: 100%;
}

.bootstrap-select.btn-group .btn .filter-option {
  text-transform: none;
  /* evitar que los combos salgan en mayúsculas */
}

.negro {
  color: #000;
}

div.card-header {
  border-bottom: 1px solid #eee;
  margin: 0;
  padding-bottom: 10px;
  background: #fafafa;
}


/*Ed july 2016 - below meant that dropdown for sitelayout would
get hidden behind boundries of card-body:
http://gooddeals.propertysquares.dev:8080/en/admin/website/general
div.card-body{overflow: hidden;}
*/

input[disabled="disabled"],
input[disabled=""] {
  background: #eee !important;
  padding: 0 5px;
}


/* header */

header#header {
  /*  background: #616161 !important;
*/
  /*box-shadow: 1px 1px 2px #555;*/
}


.logo img {
  height: 50px;
  margin: -13px 0 0 0;
  padding: 10px;
  background: #fff;
}


/* menu */

/*
below now in sidebar.scss
#sidebar {
  box-shadow: 1px 0px 1px rgba(0, 0, 0, .15) !important;
}

#sidebar .main-menu>li>a>i {
  padding: 13px 0 0 0;
}

#sidebar li.selected {
  background: #eee;
}*/


/* breadcrumbs */

div.seccion_breadcrumbs {
  margin-bottom: 0;
  position: relative;
}

div.seccion_breadcrumbs span {
  float: left;
  padding: 8px 20px;
  font-weight: bold;
}

a.cerrar_breadcrumbs {
  position: absolute;
  right: 10px;
  top: 9px;
  color: #777;
}

a.cerrar_breadcrumbs:hover {
  color: red;
}


/* inicio */

div.listview div.media-body {
  position: relative;
}

.btn_editar_inicio {
  position: absolute;
  right: 0;
  top: 0px;
  width: 35px;
  height: 35px;
}

.media-body a.email {
  display: inline;
}


/* propiedades */

.bootgrid-header .search,
.bootgrid-header .actions {
  float: left;
  margin-right: 10px;
}

#seccion_propiedades .tab-nav {
  clear: both;
}

a.btn_settings {
  background: #555;
}

a.btn_editar_propiedad {
  right: 80px !important;
}

a.btn i,
a.btn i:hover {
  /* centrar verticalmente y anular rotaciones */
  display: block !important;
  position: relative !important;
  top: 50% !important;
  transform: translateY(-50%) !important;
}

span.sele-idioma {
  float: right;
  font-size: 12px;
  font-weight: normal;
  margin-top: 2px;
}


/* editar propiedad */

.form-group.fg-float {
  /*margin-top: 20px;
  - jan 2017 - above was adding too much space when editing prop gen tab
  */
  clear: both;
  float: left;
  width: 100%;
}

.fg-float .fg-label {
  color: #333;
}

.fg-line:not([class*=has-]):after {
  background: #616161;
}

.selectpicker.form-control {
  position: absolute;
}

.arriba_label {
  margin-top: -27px;
}

.iconos_grande {
  font-size: 16px;
  color: #333;
}

a.ayuda {
  background: #fafafa;
  display: block;
  border-radius: 50%;
  font-size: 12px;
  width: 25px;
  height: 25px;
  line-height: 25px;
  text-align: center;
  float: right;
  position: absolute;
  right: 2px;
  top: 2px;
  z-index: 27;
}

a.ayuda:hover {
  background: #eee;
}

#tabla_fotos {
  width: 100%;
}

div.alert i {
  margin: 3px;
  /*margin-right: 5px;*/
}

#tabla_fotos th {
  text-align: center;
}

#tabla_fotos td {
  max-width: 300px;
  padding: 20px;
}

#tabla_fotos tr:nth-child(1) {
  background: #eee;
}

.foto_drag {
  border: 1px solid #ccc;
  padding: 20px;
  transform: scale(1.02, 1.02);
  box-shadow: 1px 1px 2px #ccc;
}


/* clientes */

.botones_criterios {
  float: right;
  margin: 10px 0 -30px;
  z-index: 27;
}

#tabla_prop_sele {
  float: none;
}

.boton_anadir_pago {
  margin: 0 50px 0 0;
  float: right;
}

.boton_anadir_actividad {
  margin: -20px 50px 0 0;
  float: right;
}

.boton_anadir_propiedad,
.boton_anadir_cliente {
  position: absolute;
  right: 0;
  top: 35px;
}

.botones_editar a span {
  margin-top: 7px;
}


/* configuración */

#seccion_configuracion .tab-nav {
  clear: both;
}


/* perfil */

#seccion_perfil .tab-nav {
  clear: both;
}


/* web */

div.seccion_web div.seo {
  position: relative;
}

.cambiar_logo {
  clear: both;
  width: 100%;
  padding: 5px 5px 0 0;
  text-align: center;
}

div.botones_web {
  position: absolute;
  top: 35px;
  right: 0px;
  margin: 0;
}

.seccion_web div#mapa {
  background: #eee;
  border: 3px solid #ddd;
  padding: 3px;
  height: 300px;
  margin-bottom: 30px;
}

p.boton_analytics button {
  margin: -40px 0 0 0;
  width: 100%;
}


/* media queries */

@media (min-width: 768px) {
  div.seccion_breadcrumbs span {
    padding: 10px 5px 11px 25px;
    margin-right: 0;
  }
}

@media (max-width: 768px) {
  .tab-nav>li {
    display: block;
    float: none;
    width: 100%;
    clear: none;
  }
}
