.property-text-edit {
  h4 {
    text-transform: uppercase;
  }
  .title-preview {
    min-height: 35px;
  }
  .description-preview {
    min-height: 80px;
  }
}

/*below seems to be set to hidden in summernote which was 
causing editing dropdowns to stay hidden behind container  */
.note-editor {
  overflow: visible;
}
