.fg-float .fg-label {
  -webkit-transition: all;
  -moz-transition: all;
  -o-transition: all;
  transition: all;
  -webkit-transition-duration: 200ms;
  transition-duration: 200ms;
/*  position: absolute;
  top: 5px;
*//*  font-weight: 400;
*/  
  font-weight: 500;
  font-size: larger;
  /*color: #959595;*/
  color: #595959;
  pointer-events: none;
  z-index: 0;
  left: 0;
}