/* 
 * For Stupid IE9
 */

.ie9 #header:not(.sidebar-toggled).header-up {
  display: none;
}

:-webkit-full-screen [data-action="fullscreen"] {
  display: none;
}

:-moz-full-screen [data-action="fullscreen"] {
  display: none;
}

:-ms-fullscreen [data-action="fullscreen"] {
  display: none;
}

:full-screen [data-action="fullscreen"] {
  display: none;
}

:fullscreen [data-action="fullscreen"] {
  display: none;
}

#sidebar {
  box-shadow: 1px 0px 1px rgba(0, 0, 0, .15) !important;
}

#sidebar .main-menu>li>a>i {
  padding: 13px 0 0 0;
}

#sidebar li.selected {
  background: #eee;
}

#sidebar {
  position: fixed;
  background: #fff;
  box-shadow: 0 0 10px rgba(51, 51, 51, 0.38);
  top: 65px;
  height: calc(100% - 65px);
  -webkit-transform: translate3d(-250px, 0, 0);
  transform: translate3d(-250px, 0, 0);
  z-index: 5;
  width: 250px;
  overflow: hidden;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transition: all;
  -moz-transition: all;
  -o-transition: all;
  transition: all;
  -webkit-transition-duration: 300ms;
  transition-duration: 300ms;
}

#sidebar .sidebar-inner {
  height: 100%;
  overflow-y: auto;
  width: 300px;
}

#sidebar .sidebar-inner .si-inner {
  width: 250px;
}

#sidebar.toggled {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  opacity: 1;
  filter: alpha(opacity=100);
}


/*for the logo at the top of left nav*/

#sidebar .profile-menu > a {
  display: block;
  height: 60px;
  margin-bottom: 5px;
  width: 100%;
  background: url(/images/boomerang-logo-black.png) no-repeat left top;
  background-size: 100%;
}

#sidebar .profile-menu > a .profile-pic {
  padding: 12px;
}

#sidebar .profile-menu > a .profile-pic > img {
  width: 47px;
  height: 47px;
  border-radius: 50%;
  border: 3px solid rgba(0, 0, 0, 0.14);
  box-sizing: content-box;
}

#sidebar .profile-menu > a .profile-info {
  background: rgba(0, 0, 0, 0.37);
  padding: 7px 14px;
  color: #fff;
  margin-top: 20px;
  position: relative;
}

#sidebar .profile-menu > a .profile-info > i {
  font-size: 19px;
  line-height: 100%;
  position: absolute;
  right: 5px;
  top: 7px;
  -webkit-transition: all;
  -moz-transition: all;
  -o-transition: all;
  transition: all;
  -webkit-transition-duration: 300ms;
  transition-duration: 300ms;
}

#sidebar .profile-menu .main-menu {
  display: none;
  margin: 0 0 0;
  border-bottom: 1px solid #E6E6E6;
}

#sidebar .profile-menu:before,
#sidebar .profile-menu:after {
  content: " ";
  display: table;
}

#sidebar .profile-menu:after {
  clear: both;
}

#sidebar .profile-menu:before,
#sidebar .profile-menu:after {
  content: " ";
  display: table;
}

#sidebar .profile-menu:after {
  clear: both;
}

#sidebar .profile-menu.toggled .profile-info > i {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}

#sidebar .main-menu {
  list-style: none;
  padding-left: 0;
  margin: 20px 0 0 0;
}

#sidebar .main-menu > li > a {
  padding: 9px 20px 14px 52px;
  display: block;
  color: #4C4C4C;
  font-weight: 500;
  position: relative;
}

#sidebar .main-menu > li > a:hover {
  color: #262626;
  background-color: #f7f7f7;
}

#sidebar .main-menu > li > a > i {
  position: absolute;
  left: 16px;
  font-size: 20px;
  top: 0;
  width: 25px;
  text-align: center;
  padding: 9px 0;
}

#sidebar .main-menu > li.sub-menu > a:before,
#sidebar .main-menu > li.sub-menu > a:after {
  position: absolute;
  right: 10px;
  top: 12px;
  color: #575757;
  font-family: 'Material Design Iconic Font';
  font-size: 17px;
  -webkit-transition: all;
  -moz-transition: all;
  -o-transition: all;
  transition: all;
  -webkit-transition-duration: 250ms;
  transition-duration: 250ms;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
}


/*#sidebar .main-menu > li.sub-menu > a:before {
  content: "\f0fb";
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
}
#sidebar .main-menu > li.sub-menu > a:after {
  content: "\f111";
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
  transform: scale(0);
}
*/

#sidebar .main-menu > li.sub-menu > ul {
  list-style: none;
  background: #f7f7f7;
  display: none;
  padding: 0;
}

#sidebar .main-menu > li.sub-menu > ul > li > a {
  color: #7f7f7f;
  padding: 8px 20px 8px 50px;
  font-weight: 500;
  display: block;
}

#sidebar .main-menu > li.sub-menu > ul > li > a.active,
#sidebar .main-menu > li.sub-menu > ul > li > a:hover {
  color: #000;
}

#sidebar .main-menu > li.sub-menu > ul > li:first-child > a {
  padding-top: 14px;
}

#sidebar .main-menu > li.sub-menu > ul > li:last-child > a {
  padding-bottom: 16px;
}


/*
moved to _shame.scss
#sidebar .main-menu > li.sub-menu.toggled > a:before {
  content: "\f0fb";
  -webkit-transform: scale(0) rotate(-90deg);
  -ms-transform: scale(0) rotate(-90deg);
  -o-transform: scale(0) rotate(-90deg);
  transform: scale(0) rotate(-90deg);
}
#sidebar .main-menu > li.sub-menu.toggled > a:after {
  content: "\f111";
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
}*/

#sidebar .main-menu > li.sub-menu.active > ul {
  display: block;
}

#sidebar .main-menu > li.active > a {
  color: #262626;
  background-color: #F4F4F4;
}


/*
 * Full width layout
 */

body:not(.sw-toggled) #sidebar {
  box-shadow: 0 0 10px rgba(51, 51, 51, 0.38);
}

@media (min-width: 1200px) {
  body.sw-toggled #sidebar {
    -webkit-transform: translate3d(0, 0, 0) !important;
    transform: translate3d(0, 0, 0) !important;
    opacity: 1 !important;
    filter: alpha(opacity=100) !important;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
  }
}

@media (max-width: 1200px) {
  body.sw-toggled #sidebar {
    box-shadow: 0 0 10px rgba(51, 51, 51, 0.38);
  }
}


/*
 * For Stupid IE9
 */

.ie9 #sidebar:not(.toggled) {
  display: none;
}


/*

attempt to fix + and - indicators on sub-menu
- not successfull...

#sidebar .main-menu > li.sub-menu > a:before {
  content: "\f0fb";
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
}
#sidebar .main-menu > li.sub-menu > a:after {
  content: "\f111";
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
  transform: scale(0);
}



#sidebar .main-menu > li.sub-menu.sm-toggled > a:before {
  content: "\f0fb";
  -webkit-transform: scale(0) rotate(-90deg);
  -ms-transform: scale(0) rotate(-90deg);
  -o-transform: scale(0) rotate(-90deg);
  transform: scale(0) rotate(-90deg);
}
#sidebar .main-menu > li.sub-menu.sm-toggled > a:after {
  content: "\f111";
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
}
*/
