<div role="tabpanel">
  <ul data-tab-color="green" class="tab-nav" role="tablist" tabindex="1" style="overflow: hidden; outline: none;">
    {{#each cmsPartsList as |tab|}}
    <li class={{if (eq tab.tabValue activeTabName) "active"}}>{{#link-to 'admin.website.cms.tab' tab.tabValue}}{{t tab.tabTitleKey}}{{/link-to}}</li>
    {{/each}}
  </ul>
  <div class="tab-content">
      {{tabs-cms/content-area-cols-tab activeTabName=activeTabName contentResources=model languages=languages cmsPartInfo=cmsPartInfo }}

  </div>
</div>
