<div class="card-header seo">
  <h2>
      {{t "settingsForWebsite"}}
    </h2>
  <div role="group" class="botones_web">
    {{#link-to "admin.content" data-toggle="tooltip" title=(t "returnToWebsite") class="btn_settings btn btn-circulo btn-float waves-effect pull-right" }}
    <i class="fa fa-arrow-left"></i> {{/link-to}}
  </div>
</div>
<div class="card-body card-padding">
  {{outlet}}
</div>
