{{!-- content is /admin/website/ route --}}
<div class="card-header seo">
  <h2>
      {{t "editWebsite"}}
    </h2>
{{!--   <div role="group" class="botones_web">
    {{#link-to "admin.content.settings" data-toggle="tooltip" title=(t "settingsForWebsite") class="btn_settings btn btn-circulo btn-float waves-effect pull-right" }}
    <i class="fa fa-gears"></i> {{/link-to}}
  </div>
 --}}
</div>
<div class="card-body card-padding">
  <div role="tabpanel">
    <ul data-tab-color="green" class="tab-nav" role="tablist" tabindex="1" style="overflow: hidden; outline: none;">
      {{!--
      <li class="active"><a href="#general" aria-controls="general" role="tab" data-toggle="tab">General</a></li>
      --}} {{#each tabsList as |tab|}}
      <li class={{if (eq tab.tabValue activeTabName) "active"}}>{{#link-to 'admin.content.tab' tab.tabValue}}{{t tab.tabTitleKey}}{{/link-to}}</li>
      {{/each}}
    </ul>
    <div class="tab-content">
        {{!-- resourceObject is used by "base/tab-with-form" to save  --}}
      {{component tabs-website-component activeTabName=activeTabName contentResources=contentResources languages=languages resourceObject=agencyDetails tenantDetails=tenantDetails }}
    </div>
  </div>
</div>
