<div class="card">
  <div class="card-header">
    <h2>{{t "newClient" }}<small></small></h2>
  </div>
  <div class="card-body card-padding">
    {{clients/new-client propertyResource=model fieldKeys=fieldKeys }}
  </div>
</div>
