<div role="tabpanel">
  <ul data-tab-color="green" class="tab-nav" role="tablist" tabindex="1" style="overflow: hidden; outline: none;">
    {{#each tabsList as |tab|}}
    <li class={{if (eq tab.tabValue activeTabName) "active"}}>{{#link-to 'admin.website.settings.tab' tab.tabValue}}{{t tab.tabTitleKey}}{{/link-to}}</li>
    {{/each}}
  </ul>
  <div class="tab-content">
        {{!-- resourceObject is used by "base/tab-with-form" to save  --}}
        {{!-- contentResources is web-content from server filtered by tabname 
          except for sections (sections returned) and appearances (siteTemplates returned) tab --}}
      {{component tabs-website-component activeTabName=activeTabName contentResources=model languages=languages resourceObject=websiteDetails websiteDetails=websiteDetails }}
    {{!-- {{content-tabs activeTabName=activeTabName contentResources=contentResources }} --}}
  </div>
</div>
