<div role="tabpanel">
  <ul data-tab-color="green" class="tab-nav" role="tablist" tabindex="1" style="overflow: hidden; outline: none;">
    {{#each model as |theme|}}
    <li class={{if (eq theme.name themeInViewId) "active"}}>
    {{#link-to 'admin.website.themes.theme' theme.name}}
      {{ theme.friendly_name }}
      {{#if (eq theme.name websiteDetails.theme_name) }}
      <i class='fa fa-check-circle' style="color:green;"></i>
      {{/if}}
    {{/link-to}}</li>
    {{/each}}
  </ul>
  <div class="tab-content">
       {{content/theme-manager themeInView=themeInView websiteDetails=websiteDetails }}
  </div>
</div>
