<div role="tabpanel">
  <ul data-tab-color="green" class="tab-nav" role="tablist" tabindex="1" style="overflow: hidden; outline: none;">

    {{#each tabsList as |tab|}}
        <li class={{if (eq tab.tabValue activeTabName) "active"}} >{{#link-to 'admin.contacts.edit.tab' tab.tabValue}}{{t tab.tabTitleKey }}{{/link-to}}</li>  
    {{/each}}

  </ul>
  <div class="tab-content">


    {{tabs-client/general-tab activeTabName=activeTabName resourceObject=clientResource fieldKeys=fieldKeys }}

    {{tabs-client/properties-tab activeTabName=activeTabName resourceObject=clientResource fieldKeys=fieldKeys }}


  </div>

</div>


