{{#if isActive}}
<div role="tabpanel" class="tab-pane" id="descripcion">
  <div class="row">
  
    <div class="col-sm-12">
      <div class="row">
        {{#each languages as |languageSettings|}}
        <div class="col-sm-6" style="padding-bottom: 3%;">
          <button style="display:none;" type="submit" class="btn btn-primary btn-sm m-b-10 waves-effect pull-right" {{action "savePropertyResource"}}>Save</button>
          {{forms/property-description languageSettings=languageSettings propertyResource=resourceObject saveAction="savePropertyResource"}}
        </div>
        {{/each}}
      </div>
    </div>

  </div>
</div>
{{/if}}
