{{#if isActive}}
<div role="tabpanel" class="tab-pane" id="situacion">
  <div class="row">
    <div class="col-sm-6">



{{#each situacionLeftInputFields as |inputField|}} 
  <div class="form-group fg-float">
    {{partial "partials/input-field-resolver" }}
  </div>
{{/each}}




    </div>
    <div class="col-sm-6">


{{#each situacionRightInputFields as |inputField|}} 
  <div class="form-group fg-float">
    {{partial "partials/input-field-resolver" }}
  </div>
{{/each}}


    </div>
  </div>
</div>
{{/if}}
