<div role="tabpanel" class="tab-pane">
  <div class="row">
    <div class="col-sm-12">
      <div class="alert alert-info alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Cerrar"><span aria-hidden="true"></span></button><i class="fa fa-lg fa-info"></i>
          {{t cmsPartInfo.tabInfoKey }}
      </div>
    </div>
    <div class="col-sm-12">
      <div class="m-20">
        {{forms/simple-toggle resetTrigger=resetTrigger valueChangedAction="changeVisibility" fieldDetails=toggleVisField  }}
      </div>
    </div>

  </div>
  <div class="row">
    {{#each shortLocaleCodes as |locale| }}
    <div class="col-sm-12">
      <div class="" style="">
        {{cms/fragment-area pwbPage=currentPwbPage
        cmsPartInfo=cmsPartInfo 
        locale=locale
        }}
      </div>
    </div>
    {{/each}}
  </div>
  <div class="row">
  </div>
</div>
