<div role="tabpanel">
  <ul data-tab-color="green" class="tab-nav" role="tablist" tabindex="1" style="overflow: hidden; outline: none;">
    {{#each tabsList as |tab|}}
    <li class={{if (eq tab.tabValue activeTabName) "active"}}>{{#link-to 'admin.website.sections.tab' tab.tabValue}}{{t tab.tabTitleKey}}{{/link-to}}</li>
    {{/each}}
  </ul>
  <div class="tab-content">
    <div class="row">
      <div>
      {{content/edmin-pages contentKey=contentKey contentResources=model languages=languages }}
      </div>
      <div class="col-sm-6">

      {{tabs-website/sections-tab activeTabName=activeTabName contentResources=model languages=languages resourceObject=websiteDetails agencyDetails=websiteDetails }}

      </div>
      <div class="col-sm-4">
      </div>
    </div>
  </div>
</div>
