
  <div role="tabpanel">
    <ul data-tab-color="green" class="tab-nav" role="tablist" tabindex="1" style="overflow: hidden; outline: none;">
      {{!--
      <li class="active"><a href="#general" aria-controls="general" role="tab" data-toggle="tab">General</a></li>
      --}} {{#each tabsList as |tab|}}
      <li class={{if (eq tab.tabValue activeTabName) "active"}}>{{#link-to 'admin.content.tab' tab.tabValue}}{{t tab.tabTitleKey}}{{/link-to}}</li>
      {{/each}}
    </ul>
    <div class="tab-content">
      {{content-tabs activeTabName=activeTabName contentResources=contentResources }}
    </div>
  </div>




