<div class="card">
  <div class="card-header">
    <h2>Editar una propiedad <small>REF: REK-1040</small></h2>
  </div>
  <div class="card-body card-padding">
    <div role="tabpanel">
      <ul data-tab-color="green" class="tab-nav" role="tablist" tabindex="1" style="overflow: hidden; outline: none;">
        <li class="active"><a href="#general" aria-controls="general" role="tab" data-toggle="tab">General</a></li>

        <li>{{#link-to 'admin.propiedades.editar.tab' 'General'}}General{{/link-to}}</li>
        <li>{{#link-to 'admin.propiedades.editar.tab' 'Descripcion'}}Descripción{{/link-to}}</li>
        <li>{{#link-to 'admin.propiedades.editar.tab' 'Extras'}}Extras{{/link-to}}</li>
        <li>{{#link-to 'admin.propiedades.editar.tab' 'Fotos'}}Fotos{{/link-to}}</li>
        <li>{{#link-to 'admin.propiedades.editar.tab' 'Video'}}Vídeo{{/link-to}}</li>

      </ul>
      <div class="tab-content">
      {{outlet}}
      </div>

    </div>
  </div>
</div>
