<div class="card">
  <div class="card-header">
    <h2>{{t "nuevoPropiedad" }}<small></small></h2>
  </div>
  <div class="card-body card-padding">
    {{tabs/new-property propertyResource=model fieldKeys=fieldKeys }}
  </div>
</div>
