<div class="card">
  <div class="card-header text-center">
    <h2>{{t "nuevoPropiedad" }}<small></small></h2>
  </div>
  <div class="card-body card-padding">
    {{tabs-property/new-property resourceObject=model fieldKeys=fieldKeys }}
  </div>
</div>
