<div class="row">
  <div class="col-sm-12">
    <div class="fg-line m-b-15">
      <div class="checkbox m-b-15">
        <label>
          <input type="checkbox" checked={{ sectionActivated }} onClick={{action "toggleVisibility" sectionInView }}>
          <i class="input-helper"></i>
          <strong>
          {{t "btnLabels.setThemePrompt" }}
        </strong>
        </label>
      </div>
    </div>
  </div>
</div>
