
{{!-- <div class="card">
  <div class="card-body card-padding">
    Welcome to your estate agency website
  </div>
</div> --}}

<div class="row">
  <div class="col-sm-6">
    <div class="card blog-post">
      <div class="bp-header">
        <a href="" class="bp-title">
          <h2>About PropertyWebBuilder</h2>
          <small style="display:none;">The ultimate Ruby on Rails engine for creating real estate websites</small>
        </a>
      </div>
      <div class="p-20" style="display:block;">
        <p>PropertyWebBuilder is an open source project designed to make creating websites for realtors / estate agents as simple as possible.</p>
        <p>Help make it a better product by contributing <a href="https://etewiah.github.io/property_web_builder">here.</a> </p>
        <p>You can also contact us directly with any feedback or ideas by emailing help@propertywebbuilder.com</p>
                <br>
        <br>

      </div>
    </div>
  </div>
</div>
{{ outlet }}
