<div class="card">
  <div class="card-header seo">
    <h2>
{{!--       {{t "importExport"}}
 --}}   
    Import data
    </h2>
  </div>
  <div class="card-body card-padding">
    {{outlet}}
  </div>
</div>
