<div class="card blog-post">
  <div class="bp-header">
    <img src="img/widgets/preview.jpg" alt="" style="display:none;">
    <a href="" class="bp-title">
      <h2>{{ info.firstObject.rawEn }}.. Welcome to your website admin</h2>
      <small style="display:none;" >Vivamus sagittis lacus vel augue laoreet rutrum</small>
    </a>
  </div>
  <div class="p-20">
    Pellentesque lacinia sagittis libero. Praesent vitae justo purus. In hendrerit lorem nisl, ac lacinia urna aliquet non. Quisque nisi tellus, rhoncus quis est sit amete in nisl molestie fringilla. Nunc vitae ante id magna feugiat condimentum. Maecenas sit amet urna massa.
  </div>
</div>

