<h1>Single upload for carousel</h1>
{{upload/x-droplet-single-input}}

Percentage: {{uploadStatus.percentComplete}}

       {{#if uploadStatus.uploading}}
            <h3 class="uploading-percentage">Uploaded Percentage: {{uploadStatus.percentComplete}}%</h3>
        {{/if}}