{{upload/x-droplet-single-input ctx=this url=url }}
{{!-- 
       {{#if uploadStatus.uploading}}
            <h3 class="uploading-percentage">Uploaded Percentage: {{uploadStatus.percentComplete}}%</h3>
        {{/if}}
 --}}