<div role="tabpanel" class="tab-pane" id="descripcion">
  {{#each contentResources as |contentItem|}}
  <div class="row">
  <h3>{{t contentItem.labelKey }} </h3>
  <button type="submit" class="btn btn-primary btn-sm m-b-10 waves-effect pull-right" 
      {{action "saveContentItem" contentItem }}>Save</button>
  {{#each languages as |languageSettings|}}
    <div class="col-sm-12" style="padding-bottom: 3%;">
      {{forms/content-item languageSettings=languageSettings contentItem=contentItem}}
    </div>
  {{/each}}    
  </div>
  {{/each}}

</div>
