<div role="tabpanel">
  <ul data-tab-color="green" class="tab-nav" role="tablist" tabindex="1" style="overflow: hidden; outline: none;">
    <li class="">
    {{#link-to 'admin.pages.page.settings'}}
      {{t "pageSections.pageTitle" }}
    {{/link-to}}
    </li>
    {{#each pageParts as |tab|}}
    <li class={{if (eq tab.fragment_key activeTabName) "active"}}>{{#link-to 'admin.pages.page.tab' tab.fragment_key}}{{t tab.editor_setup.tabTitleKey }}{{/link-to}}</li>
    {{/each}}
  </ul>
  <div class="tab-content">
      {{!tabs-cms/fragments-container activeTabName=activeTabName contentResources=model languages=languages currentPagePart=currentPagePart shortLocaleCodes=shortLocaleCodes currentPwbPage=currentPwbPage }}


      {{component tabs-page-component activeTabName=activeTabName contentResources=model resourceObject=websiteDetails agencyDetails=websiteDetails currentPagePart=currentPagePart shortLocaleCodes=shortLocaleCodes currentPwbPage=currentPwbPage }}
  </div>
</div>
