<div role="tabpanel">
  <ul data-tab-color="green" class="tab-nav" role="tablist" tabindex="1" style="overflow: hidden; outline: none;">
    <li class="">
    {{#link-to 'admin.pages.page.settings'}}
      {{t "pageSections.pageTitle" }}
    {{/link-to}}
    </li>
    {{#each fragmentConfigs as |tab|}}
    <li class={{if (eq tab.tabValue activeTabName) "active"}}>{{#link-to 'admin.pages.page.tab' tab.tabValue}}{{t tab.tabTitleKey }}{{/link-to}}</li>
    {{/each}}
  </ul>
  <div class="tab-content">
      {{!tabs-cms/fragments-container activeTabName=activeTabName contentResources=model languages=languages cmsPartInfo=cmsPartInfo shortLocaleCodes=shortLocaleCodes currentPwbPage=currentPwbPage }}


      {{component tabs-page-component activeTabName=activeTabName contentResources=model resourceObject=websiteDetails agencyDetails=websiteDetails cmsPartInfo=cmsPartInfo shortLocaleCodes=shortLocaleCodes currentPwbPage=currentPwbPage }}
  </div>
</div>
