<div role="tabpanel">
  <ul data-tab-color="green" class="tab-nav" role="tablist" tabindex="1" style="overflow: hidden; outline: none;">
    <li class="">
    {{#link-to 'admin.pages.page.settings'}}
      {{t "pageSections.pageTitle" }}
    {{/link-to}}
    </li>
    {{#each cmsPartsList as |tab|}}
    <li class={{if (eq tab.tabValue activeTabName) "active"}}>{{#link-to 'admin.pages.page.tab' tab.tabValue}}{{t tab.tabTitleKey }}{{/link-to}}</li>
    {{/each}}
  </ul>
  <div class="tab-content">
      {{! tabs-cms/cms-container activeTabName=activeTabName contentResources=model languages=languages cmsPartInfo=cmsPartInfo }}

      {{!-- below needed to support legacy components - can revert to above once all legacy content editing is removed --}}

      {{component tabs-page-component activeTabName=activeTabName contentResources=model languages=languages resourceObject=websiteDetails agencyDetails=websiteDetails cmsPartInfo=cmsPartInfo }}
  </div>
</div>
