{{#if isActive}}
<div role="tabpanel" class="tab-pane active" id="general">
  <div class="row">
    <div class="col-sm-12">
        <button type="submit" class="pull-right btn btn-primary btn-sm m-b-10 waves-effect" {{action "saveExtrasObject"}} >Save</button>
    </div>
    <div class="col-sm-4">
      <h4></h4>

      {{#each extrasInputFields1.chunk1 as |extrasField|}} 
        <div class="form-group fg-float">
          {{forms/simple-select fieldDetails=extrasField resourceObject=propertyResource.extras}}

        </div>
      {{/each}}
    </div>
    <div class="col-sm-4">
      <h4></h4>

      {{#each extrasInputFields1.chunk2 as |extrasField|}} 
        <div class="form-group fg-float">
          {{forms/simple-select fieldDetails=extrasField resourceObject=propertyResource.extras}}

        </div>
      {{/each}}
    </div>

    <div class="col-sm-4">
      <h4></h4>

        {{#each extrasInputFields1.chunk3 as |extrasField|}} 
          <div class="form-group fg-float">
            {{forms/simple-select fieldDetails=extrasField resourceObject=propertyResource.extras}}

          </div>
        {{/each}}

    </div>
  </div>
</div>
{{/if}}
