<div>
  <div>
    <p><a href="/export/translations/all">Export all</a></p>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <p><a class="btn btn-edfile">
            {{t activeTabObject.importLabelKey }}
            {{#upload/x-droplet-import-data   
            url=url
            activeTabObject=activeTabObject didUploadAction=""}} 
            {{/upload/x-droplet-import-data}}
        </a></p>
  </div>
</div>
