<div>
  <div>
    <p><a href="/export/translations/all">Export all</a></p>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <p><a class="btn btn-edfile">
        Import sites exported from MLS
            {{#upload/x-droplet-import-data   
            activeTabObject=activeTabObject didUploadAction=""}} 
            {{/upload/x-droplet-import-data}}

        </a></p>
  </div>
  <div class="col-sm-12">
    <p><a class="btn btn-edfile">
        Import sites exported from PropertyWebBuilder
            {{#upload/x-droplet-import-data   
            activeTabObject=activeTabObject didUploadAction=""}} 
            {{/upload/x-droplet-import-data}}

        </a></p>
  </div>
</div>

