{{#if propsRetrieved}}
<div class="row">
  <div class="col-sm-12">
    {{io/preview-properties properties=propsRetrieved  }}
  </div>
</div>
{{else}}
<div class="row">
  <div class="col-sm-12">
    {{component importer-component propsRetrieved=propsRetrieved }}
  </div>
</div>
{{/if}}

