{{#if (eq inputField.fieldType "spaceFiller")}}
<div class="form-group fg-float">
<div class="fg-line" style="height: 57px;">
  <label class="fg-label"></label>
</div>
</div>
{{/if}}
{{#if (eq inputField.fieldType "simpleInput")}}
    {{forms/simple-input  resetTrigger=resetTrigger valueChangedAction="checkDirtyState" fieldDetails=inputField resourceObject=resourceObject}}
{{/if}}
{{!-- TODO - rename below simpleBoolean in fieldTypes --}}
{{#if (eq inputField.fieldType "simpleSelect")}}
    {{forms/simple-boolean resetTrigger=resetTrigger valueChangedAction="checkDirtyState"  fieldDetails=inputField resourceObject=resourceObject }}
{{/if}}
{{#if (eq inputField.fieldType "dynamicSelect")}}
    {{forms/dynamic-select  resetTrigger=resetTrigger valueChangedAction="checkDirtyState"  fieldDetails=inputField resourceObject=resourceObject fieldKeys=fieldKeys}}
{{/if}}