<div role="tabpanel">
  <ul data-tab-color="green" class="tab-nav" role="tablist" tabindex="1" 
  style="overflow: hidden; outline: none;">
    {{!--
    --}} 
    {{#each tabsList as |tab|}}
    <li class={{if (eq tab.tabValue activeTabName) "active"}}>
      {{#link-to 'admin.io.properties.tab' tab.tabValue}}{{t tab.tabTitleKey}}{{/link-to}}</li>
    {{/each}}
  </ul>

  {{outlet}}

</div>
