<div role="tabpanel" class="tab-pane active" id="general">
  <div class="row">
    <div class="col-sm-12">
        <button type="submit" class="btn btn-primary btn-sm m-b-10 waves-effect" {{action "createClientResource"}} >{{t "create" }}</button>
    </div>

    <div class="col-sm-6">
      {{#each leftSideInputFields as |inputField|}}
      {{partial "partials/input-field-resolver" }}
      {{/each}}
      <br>
    </div>
    <div class="col-sm-6">
      {{#each rightSideInputFields as |inputField|}}
      {{partial "partials/input-field-resolver" }}
      {{/each}}
    </div>
  </div>
</div>
