<div role="tabpanel" class="tab-pane">
  <div class="row" id="sortable-carousel">

      {{#each contentResources as |landingCarouselContent| }}
    <div class="col-sm-4" >
        <div class="" style="">
          {{#each languages as |languageSettings|}} 
            {{forms/content-item languageSettings=languageSettings contentItem=landingCarouselContent saveContentItemAction="saveContentItem"}} 
          {{/each}} 
        </div>
    </div>
      {{/each}}
  </div>
  <div class="row">
  </div>
</div>
