<header id="header">
  <ul class="header-inner">
    <li id="menu-trigger" data-trigger="#sidebar">
      <div class="line-wrap">
        <div class="line top"></div>
        <div class="line center"></div>
        <div class="line bottom"></div>
      </div>
    </li>
    <li class="logo hidden-xs">
      <a href="index.php"><img src="img/logo.png" alt="Inmolite"></a>
    </li>
    <li class="pull-right">
      <ul class="top-menu">
        <li id="toggle-width">
          <div class="toggle-switch">
            <input id="tw-switch" type="checkbox" hidden="hidden" checked="checked">
            <label for="tw-switch" class="ts-helper"></label>
          </div>
        </li>
        <li class="dropdown">
          <a data-toggle="dropdown" class="tm-settings" href=""></a>
          <ul class="dropdown-menu dm-icon pull-right">
            <li>
              <a data-action="fullscreen" href=""><i class="md md-fullscreen"></i> Pantalla completa</a>
            </li>
            <li>
              <a data-action="clear-localstorage" href=""><i class="md md-delete"></i> Limpiar datos temporales</a>
            </li>
            <li>
              <a href="#"><i class="md md-info-outline"></i> Acerca de</a>
            </li>
            <li>
              <a data-action="clear-localstorage" href=""><i class="md md-exit-to-app"></i> Salir</a>
            </li>
          </ul>
        </li>
      </ul>
    </li>
  </ul>
</header>
<section id="main">
  <aside id="sidebar">
    <div class="sidebar-inner">
      <div class="si-inner">
        <div class="profile-menu">
          <a href="">
            <div class="profile-pic">
              <img src="img/profile-pics/1.jpg" alt="">
            </div>
            <div class="profile-info">
              Bienvenido, {nombre_usuario}
            </div>
          </a>
        </div>
        <ul class="main-menu">
          <li class="selected"><a href="index.php"><i class="fa fa-home"></i> Inicio</a></li>
          <li><a href="http://localhost:8888/inmolite3/propiedades"><i class="fa fa-building-o"></i> Propiedades</a></li>
          <li><a href="http://localhost:8888/inmolite3/clientes"><i class="fa fa-users"></i> Clientes</a></li>
          <li><a href="http://localhost:8888/inmolite3/actividades"><i class="fa fa-calendar"></i> Actividades</a></li>
          <li><a href="http://localhost:8888/inmolite3/web"><i class="fa fa-desktop"></i> Web</a></li>
          <li><a href="http://localhost:8888/inmolite3/perfil"><i class="fa fa-user"></i> Mi perfil</a></li>
          <li><a href="http://localhost:8888/inmolite3/soporte"><i class="fa fa-support"></i> Soporte</a></li>
          <li><a href="http://localhost:8888/inmolite3/salir"><i class="fa fa-sign-out"></i> Salir</a></li>
        </ul>
      </div>
    </div>
  </aside>
  <section id="content">
    <div class="container" id="seccion_ddd">
      {{outlet}}
    </div>
  </section>
</section>
