<header id="header">
  <ul class="header-inner">
    <li id="menu-trigger" data-trigger="#sidebar" class="">
      <div class="line-wrap">
        <div class="line top"></div>
        <div class="line center"></div>
        <div class="line bottom"></div>
      </div>
    </li>
    <li class="logo">
      <a href="/">Inmolite Admin</a>
    </li>
    <li class="pull-right">
      <ul class="top-menu" style="">
        <li id="toggle-width">
          <div class="toggle-switch">
            <input id="tw-switch" type="checkbox" hidden="hidden" checked="checked">
            <label for="tw-switch" class="ts-helper"></label>
          </div>
        </li>

        <li class="dropdown">
          <a data-toggle="dropdown" class="tm-settings" href=""></a>
          <ul class="dropdown-menu dm-icon pull-right">
            <li>
              {{#link-to currentRouteName class="" }} 
                Spanish
              {{/link-to}} 
            </li>
            <li>
              {{#link-to currentRouteName "en" class="" }} 
                English
              {{/link-to}} 
            </li>
          </ul>
        </li>

        <li class="dropdown" style="display:none;">
          <a data-toggle="dropdown" class="tm-settings" href=""></a>
          <ul class="dropdown-menu dm-icon pull-right">
            <li>
              <a data-action="fullscreen" href=""><i class="md md-fullscreen"></i> Pantalla completa</a>
            </li>
            <li>
              <a data-action="clear-localstorage" href=""><i class="md md-delete"></i> Limpiar datos temporales</a>
            </li>
            <li>
              <a href="#"><i class="md md-info-outline"></i> Acerca de</a>
            </li>
            <li>
              <a data-action="clear-localstorage" href=""><i class="md md-exit-to-app"></i> Salir</a>
            </li>
          </ul>
        </li>
      </ul>
    </li>
  </ul>
</header>
<section id="main">
{{outlet}}
</section>
